/**********GENERAL**********/

* {
  text-align: center;
}

/**********BODY**********/

#cover {
  font-size: 7em;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  color: #FFF;
  padding: 10% 10%;
  margin: 2% 0 2% 0;
  background-image: url("../img/island_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/**********NAVIGATION**********/

nav a {
  text-decoration: none;
}

nav a:visited {
  color: #000;
}

/**********FOOTER**********/

footer img {
  length: 40px;
  width: 40px;
  padding: 0 1% 1% 1%;
  margin: 0 1% 1% 1%;
}

footer p {
  display: inline-block;
}

footer a {
  text-decoration: none;
}

footer {
  border-top-style: solid;
  border-top-width: thin;
  padding-top: 2.5%;
}
